{% extends "base.html" %}
{% block content %}

<main class="app-page about-page">
    <section id="about">
        <p class="eyebrow dark">About</p>
        <h4>About</h4>
        <p>The Plant Disease Detection System website is an advanced platform designed to help users identify plant diseases by uploading images. The system combines the power of Convolutional Neural Networks (CNNs) for feature extraction and the Random Forest algorithm for classification, ensuring precise and reliable disease detection. Users can upload an image of a diseased plant, and the system processes it by utilizing CNNs to extract critical features such as texture, color, and patterns that are indicative of specific plant diseases. These extracted features are then fed into the Random Forest model, which uses its ensemble of decision trees to classify the disease accurately.Once the disease is identified, the website provides comprehensive information about it,  causes, preventive measures, and treatment suggestions.
        <br><br>
        The integration of CNNs for feature extraction ensures that the system captures even the most subtle visual characteristics of plant diseases, while the Random Forest classifier enhances prediction accuracy by aggregating multiple decision paths. The website is user-friendly, responsive, and accessible, making it a valuable tool for farmers, gardeners, and agricultural professionals. By providing timely and accurate disease detection, the platform supports sustainable farming practices and contributes to improved crop health and yield.</p>
    </section>
</main>

{% endblock %}
