{% load static %}
<footer class="footer">
    <div class="footer-container">
        <!-- About Section -->
        <div class="footer-section about">
            <h3>Plant Disease Detection System</h3>
            <p>
                Our platform helps farmers, plant researcher and plant enthusiasts to detect diseases early, 
                ensuring healthier crops and a sustainable future.
            </p>
        </div>

        <!-- Quick Links -->
        <div class="footer-section links">
            <h4>Quick Links</h4>
            <ul class="quick_links">
                <li class="quick_links_list"><a href="{% url 'home' %}">Home</a></li>
                <li class="quick_links_list"><a href="{% url 'about' %}">About</a></li>
                <li class="quick_links_list"><a href="{% url 'login' %}">Login</a></li>
                <li class="quick_links_list"><a href="{% url 'signup' %}">Signup</a></li>
            </ul>
        </div>

        <!-- Contact Section -->
        <div class="footer-section contact">
            <h4>Contact Us</h4>
            <p>Email: sanskrititiwari45@gmail.com, shresthasarita309@gmail.com</p>
            <p>Phone: +977 9844341888, +977 9864651659</p>
            <p>Location: Bagbazar, Nepal</p>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="footer-bottom">
        <p>&copy; 2024 Plant Disease Detection System by Sanskriti Tiwari and Sarita Shrestha. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
